<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
        <meta name="description" content="">
        <meta name="author" content="">

        <title>Zarcie</title>

        <!-- Bootstrap core CSS -->
        <link href="//v4-alpha.getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
        <!-- Theme -->
        <link rel="stylesheet" href="/css/style.css" media="screen" title="no title">
    </head>
    <body id="body">


        

        <!--
        <div id="app">
            <ul id="menu">
                <li class="active"><a href="#lista">Lista</a></li>
                <li><a href="#konto">Konto</a></li>
            </ul>

            <div id="content">
                <ul id="order">
                    <li>C&B rozmiar męski <span>Jurek</span></li>
                    <li>Cheese and Becon, łudeczki x 2, wysmażony, czarna przemsza <span>Rzułf</span></li>
                    <li>Cheese and Becon <span>Kazio</span></li>
                    <li>Cheese and Becon <span>Janusz</span></li>
                    <li>Cheese and Becon <span>Zoltan</span></li>
                    <li>Cheese and Becon <span>Roman</span></li>
                    <li>Cheese and Becon <span>Zupa</span></li>
                    <li>Zupa z trupa <span>Marcin</span></li>
                </ul>
            </div>
        </div>
        -->

        <!-- Bootstrap core JavaScript
        ================================================== -->
        <!-- Placed at the end of the document so the pages load faster -->
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.0.0/jquery.min.js" integrity="sha384-THPy051/pYDQGanwU6poAc/hOdQxjnOEXzbT+OuUAFqNqFjL+4IGLBgCJC3ZOShY" crossorigin="anonymous"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/tether/1.2.0/js/tether.min.js" integrity="sha384-Plbmg8JY28KFelvJVai01l8WyZzrYWG825m+cZ0eDDS1f7d/js6ikvy1+X+guPIB" crossorigin="anonymous"></script>
        <script src="https://v4-alpha.getbootstrap.com/dist/js/bootstrap.min.js"></script>
        <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
        <script src="https://v4-alpha.getbootstrap.com/assets/js/vendor/holder.min.js"></script>
        <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
        <script src="https://v4-alpha.getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>

        <!-- REACTJS -->
        <script src="/js/react.min.js"></script>
        <script src="/js/react-dom.min.js"></script>
        <script src="/js/app.js"></script>
    </body>
</html>
